/* $base-color = ""; */
/* $main-color: #1BA4C8; */
$main-color: #0E4EAD;
$main-color2: #D2F4F7;
$accent-color: #FF9800;
$accent-color2: #C8DE71;
$gradient0: #000046;
$gradient1: #1CB5E0;

$white: #ffffff;
$font-main: #444;

@minin gradation {
  background: -moz-linear-gradient(to right, #000046, 1CB5E0);
  background: -webkit-linear-gradient(to right, #000046, 1CB5E0);
  background: linear-gradient(to right, #000046, 1CB5E0);
}

.box29.childbox {
  margin: 2em 0;
  background: #fff8e8;
}

.box29.childbox .box-title {
  font-size: 1em;
  background: #ffc06e;
  padding: 4px;
  text-align: center;
  color: #FFF;
  font-weight: bold;
  letter-spacing: 0.05em;
}

.box29.mamabox {
  margin: 2em 0;
  background: #ffebe9;
}

.box29.mamabox .box-title {
  font-size: 1em;
  background: #ff7d6e;
  padding: 4px;
  text-align: center;
  color: #FFF;
  font-weight: bold;
  letter-spacing: 0.05em;
}

.box29.papabox {
  margin: 1em 0;
  background: $main-color2;
}

.box29.papabox .box-title {
  font-size: 1em;
  background: $main-color;
  padding: 4px;
  text-align: center;
  color: #FFF;
  font-weight: bold;
  letter-spacing: 0.05em;
}

.box29 .box-sub-title {
  font-weight: bold;
}

.box29 p {
  text-align: center;
  padding: 15px 20px;
  margin: 0;
}

.box29 p:not(:last-child) {
  border-bottom: 1px #ccc dotted;
}

.box30 {
  margin: 2em 0;
  background: #f1f1f1;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.22);
}
.box30 .box-title {
  font-size: 1.2em;
  background: #5fc2f5;
  padding: 4px;
  text-align: center;
  color: #FFF;
  font-weight: bold;
  letter-spacing: 0.05em;
}
.box30 p {
  padding: 15px 20px;
  margin: 0;
}

#container-ikusim {
  color: $font-main;

  #canvas {
    /* border: 1px dotted gray; */
  }

  .box-visible {
    display: block;
  }

  .box-invisible {
    display: none;
  }

  .chart-container,
  .chart-container-2,
  .chart-container-3 {
    position: relative;
    margin: auto;
    height: 20vh;
    width: 100%;
    margin-bottom: 25px;
  }

  .important-data {
    font-size: x-large;
    font-weight: bold;
    color: $main-color;
  }

  .important-data-more {
    color: $main-color;
  }

  table.salary-table {
    font-size: small;
    margin-bottom: 25px;

    .td2,
    .td3 {
      text-align: right
    }
  }

  .ikusim-form {
    margin-bottom: 20px;
    padding: 20px;
    border: 1px #eee solid;
  }

  #ikusim-results {
    opacity: 0.7;
    pointer-events: none;
  }

  #results-h2 {
    display: none;
  }

  button.btn-moonview {
    /* background-color: $main-color; */
    /* @include gradation; */
    color: $white;
    background: -moz-linear-gradient(to right, #000046, #1CB5E0);
    background: -webkit-linear-gradient(to right, #000046, #1CB5E0);
    background: linear-gradient(to right, #000046, #1CB5E0);
    margin-bottom: 20px;
  }

  .gray-block {
    background-color: #fafafa;
    padding-bottom: 0.25em;
  }

  h2 {
    font-weight: 600;
    font-size: 1.7rem;
    margin-top: 45px;
    /* background-image: linear-gradient(to right, #b8cbb8 0%, #b8cbb8 0%, #b465da 0%, #cf6cc9 33%, #ee609c 66%, #ee609c 100%); */
    background-image: linear-gradient(to right, $gradient0 0%, $gradient1 70%, $gradient1 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  h3{
    position: relative;
    padding: 0.25em 0;
    font-size: 1.2rem;
    font-weight: 600;
    margin-top: 30px;
    color: $main-color;
    /* background-image: linear-gradient(to right, $gradient0, $gradient1); */
    /* background-image: linear-gradient(to right, $gradient0 0%, $gradient1 70%, $gradient1 100%); */
    /* -webkit-background-clip: text; */
    /* -webkit-text-fill-color: transparent; */
  }

  h3:after {
    content: "";
    display: block;
    height: 4px;
    /* background: -moz-linear-gradient(to right, rgb(255, 186, 115), #ffb2b2); */
    /* background: -webkit-linear-gradient(to right, rgb(255, 186, 115), #ffb2b2); */
    /* background: linear-gradient(to right, rgb(255, 186, 115), #ffb2b2); */
  }
}
