/* $base-color = ""; */
/* $main-color: #1BA4C8; */
@minin gradation {
  background: linear-gradient(to right, #000046, 1CB5E0); }

.box29.childbox {
  margin: 2em 0;
  background: #fff8e8; }

.box29.childbox .box-title {
  font-size: 1em;
  background: #ffc06e;
  padding: 4px;
  text-align: center;
  color: #FFF;
  font-weight: bold;
  letter-spacing: 0.05em; }

.box29.mamabox {
  margin: 2em 0;
  background: #ffebe9; }

.box29.mamabox .box-title {
  font-size: 1em;
  background: #ff7d6e;
  padding: 4px;
  text-align: center;
  color: #FFF;
  font-weight: bold;
  letter-spacing: 0.05em; }

.box29.papabox {
  margin: 1em 0;
  background: #D2F4F7; }

.box29.papabox .box-title {
  font-size: 1em;
  background: #0E4EAD;
  padding: 4px;
  text-align: center;
  color: #FFF;
  font-weight: bold;
  letter-spacing: 0.05em; }

.box29 .box-sub-title {
  font-weight: bold; }

.box29 p {
  text-align: center;
  padding: 15px 20px;
  margin: 0; }

.box29 p:not(:last-child) {
  border-bottom: 1px #ccc dotted; }

.box30 {
  margin: 2em 0;
  background: #f1f1f1;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.22); }

.box30 .box-title {
  font-size: 1.2em;
  background: #5fc2f5;
  padding: 4px;
  text-align: center;
  color: #FFF;
  font-weight: bold;
  letter-spacing: 0.05em; }

.box30 p {
  padding: 15px 20px;
  margin: 0; }

#container-ikusim {
  color: #444; }
  #container-ikusim #canvas {
    /* border: 1px dotted gray; */ }
  #container-ikusim .box-visible {
    display: block; }
  #container-ikusim .box-invisible {
    display: none; }
  #container-ikusim .chart-container,
  #container-ikusim .chart-container-2,
  #container-ikusim .chart-container-3 {
    position: relative;
    margin: auto;
    height: 20vh;
    width: 100%;
    margin-bottom: 25px; }
  #container-ikusim .important-data {
    font-size: x-large;
    font-weight: bold;
    color: #0E4EAD; }
  #container-ikusim .important-data-more {
    color: #0E4EAD; }
  #container-ikusim table.salary-table {
    font-size: small;
    margin-bottom: 0px; }
    #container-ikusim table.salary-table .td2,
    #container-ikusim table.salary-table .td3 {
      text-align: right; }
  #container-ikusim p.margin-bottom {
    margin-bottom: 25px;
    /* font-size: small; */ }
  #container-ikusim .ikusim-form {
    margin-bottom: 20px;
    padding: 20px;
    border: 1px #eee solid; }
  #container-ikusim #ikusim-results {
    /* opacity: 0.7; */
    /* pointer-events: none; */ }
  #container-ikusim #results-h2 {
    display: none; }
  #container-ikusim button.btn-moonview {
    /* background-color: $main-color; */
    /* @include gradation; */
    color: #ffffff;
    background: linear-gradient(to right, #000046, #1CB5E0);
    margin-bottom: 20px; }
  #container-ikusim .gray-block {
    background-color: #fafafa;
    padding-bottom: 0.25em; }
  #container-ikusim .sns-box {
    margin: 10px 20px;
    padding: 30px;
    border: 1px #eee solid; }
  #container-ikusim h2 {
    font-weight: 600;
    font-size: 1.7rem;
    margin-top: 45px;
    /* background-image: linear-gradient(to right, #b8cbb8 0%, #b8cbb8 0%, #b465da 0%, #cf6cc9 33%, #ee609c 66%, #ee609c 100%); */
    background-image: linear-gradient(to right, #000046 0%, #1CB5E0 70%, #1CB5E0 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }
  #container-ikusim h3 {
    position: relative;
    padding: 0.25em 0;
    font-size: 1.2rem;
    font-weight: 600;
    margin-top: 30px;
    color: #0E4EAD;
    /* background-image: linear-gradient(to right, $gradient0, $gradient1); */
    /* background-image: linear-gradient(to right, $gradient0 0%, $gradient1 70%, $gradient1 100%); */
    /* -webkit-background-clip: text; */
    /* -webkit-text-fill-color: transparent; */ }
  #container-ikusim h3:after {
    content: "";
    display: block;
    height: 4px;
    /* background: -moz-linear-gradient(to right, rgb(255, 186, 115), #ffb2b2); */
    /* background: -webkit-linear-gradient(to right, rgb(255, 186, 115), #ffb2b2); */
    /* background: linear-gradient(to right, rgb(255, 186, 115), #ffb2b2); */ }
